.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container {
    min-width: 1000px;
    min-height: 600px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
}
.illustration {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    width: 400px;
}
.wrapper-left {
    position: relative;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    width: 45%;
}
.wrapper-left-login {
    background: #d5a0e0;
    > .illustration {
        left: 0;
        transform: translate(30%, -30%);
    }
}
