.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.container {
    min-width: 1000px;
    min-height: 600px;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
}
.illustration {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    width: 400px;
}
.wrapper-left {
    position: relative;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    width: 45%;
}
.wrapper-right {
    flex: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    margin-bottom: 26px;
    text-align: center;
    color: var(--text-color);
    font-size: 2.6rem;
    font-weight: 700;
}
.form-controll {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-item {
    margin: 20px 0;
    width: 60%;
    > input {
        outline: none;
        padding: 8px 8px 8px 0;
        font-size: 1.4rem;
        color: var(--text-color);
        border-color: #ccc;
        width: 100%;
        border-top: none;
        border-right: none;
        border-left: none;
    }
}
.btn-submit {
    margin: 12px 0;
    width: 60%;
}
.to-login {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    > p {
        margin: 10px 0;
        text-align: center;
        font-size: 1.4rem;
        color: var(--text-color);
    }
}
