.wrapper-right {
    flex: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title {
    margin-bottom: 26px;
    text-align: center;
    color: var(--text-color);
    font-size: 2.6rem;
    font-weight: 700;
}
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-submit {
    margin: 20px 0;
    width: 60%;
}
.to-login {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    > p {
        margin: 10px 0;
        text-align: center;
        font-size: 1.4rem;
        color: var(--text-color);
    }
}
