.wrapper {
    scrollbar-width: none;
    height: 70vh;
    font-size: 2rem;
    -ms-overflow-style: none; /* Hide the scrollbar for Internet Explorer and Edge */
    scrollbar-width: none; /* Hide the scrollbar for Firefox */
    overflow-y: scroll; /* Enable vertical scrolling */
}

.wrapper::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for Chrome and Safari */
}
.heading {
    text-align: center;
    margin-bottom: 40px;
    > img {
        width: 86px;
        margin-bottom: 40px;
    }
    > h1 {
        margin: 0;
        font-weight: 600;
        font-size: 3.6rem;
    }
}
.body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    :nth-child(2) {
        margin: 0 20px;
    }
}
.box-title {
    margin: 0 0 26px 0;
    font-weight: 500;
    font-size: 1.8rem;
}
.example {
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.6);
    padding: 20px;
    font-size: 1.6rem;
}
.message-text {
    margin-bottom: 20px;
    max-width: 65%;
    font-size: 1.8rem;
    text-align: left;
    padding: 20px;
    border-radius: 16px;
    background-color: var(--primary);
    color: var(--white);
    word-wrap: break-word;
    font-family: var(--font);
    > p {
        margin: 0;
    }
    white-space: pre-wrap;
}
.user-message {
    display: grid;
    justify-items: flex-end;
    ::selection {
        background-color: var(--white);
        color: var(--primary);
    }
}
.ai-message {
    .message-text {
        background-color: var(--white);
        color: var(--text-color);
    }
    justify-items: flex-start;
    ::selection {
        background-color: var(--primary);
        color: var(--white);
    }
}
